.accountcontainer {
    border: 2px solid black;
    padding: 100px;
    border-radius: 10px;
    background-color: whitesmoke;
    
}
.textbox
{
       border-radius: 10px;
       background-color: lightskyblue;
}

.textcolor{
    color: skyblue;
}

.button{
    background-color: lightskyblue
}